<div class = "row">
	<div class = "col l12 m12 s12">
		<h1>El Clima Actual</h1>
		<div id = "content">
			<div class="row">
				<div class="col s12 l12 m12 center-align">
					<div class="right-align">
						<a href="#!" class="btn btn-circle" onclick="showProvinces();" ><i class="medium material-icons">edit_location</i></a>
					</div>
					<h2><%= data.city %></h2>
					<span style="font-weight: bold;font-size: 6em; width: 40%;"><%- data.icon %></span>
					<p id = "sub"><small><%= data.now %></small></p>

				</div>
			</div>
			<table class = "stripped">
				<tr><td>Temperatura</td><td> <%- data.temperature %></td></tr>
				<tr><td>Viento</td><td> Hacia el <%- data.windDirection %>, a <%- data.windSpeed %></td></tr>
				<tr><td>Precipitaciones</td><td> <%= data.precipitation %></td></tr>
				<tr><td>Humedad</td><td> <%- data.humidity %></td></tr>
				<tr><td>Presi&oacute;n</td><td> <%- data.pressure %></td></tr>
				<tr><td>Amanecer</td><td> <%= data.sunrise %></td></tr>
				<tr><td>Anochecer</td><td> <%= data.sunset %></td></tr>
				<tr><td>Nubosidad</td><td> <%= data.clouds %></td></tr>
				<tr><td>Actualizado</td><td> <%= data.lastUpdate %></td></tr>
			</table>

		</div>
	</div>
</div>
<div class="row">
	<div class = "col l12 m12 s12">
		<h2>Pronostico del clima</h2>
		<div id = "forecast">
			<% for(var i = 0; i< fcast.length; i++) { %>
			<div class="row">
				<div class="col l4 m4 s4">
					<span style = "font-weight: bold;font-size: 2em;"><%- fcast[i].icon %></span>
					<span class="badge badge-info"><%= fcast[i].clouds %> /
						<% if (fcast[i].precipitation != "no") { %>
							<%= fcast[i].precipitation %><br/>
						<% } else { %>
							Sin lluvias
						<% } %>
					</span>
				</div>
				<div class="col l8 m8 s8">
					<%= formatTime(fcast[i].from.date) %> a <%= formatTime(fcast[i].to.date) %><br/>
					<%- fcast[i].temperature %><br/>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>

<div id = "modalProvinces" class = "modal">
	<div class = "modal-content collection">
		<% for(var i=0; i < provinces.length; i++) { %>
			<a href = "#!" class = "collection-item link link-simple" data-command = "CLIMA " data-query = "{province: provinces[<%= i %>]}"><%= provinces[i].replace('_',' ').replace('_',' ') %></a>
		<% }%>
	</div>
</div>