<div class = "row">
	<div class = "col l12 m12 s12">
		<div id = "content">
			<div class = "row">
				<div class = "col s12 l12 m12 center-align">
					<h2><%= data.city %>&nbsp;<a href = "#!" onclick = "showProvinces();"><i class = "tiny material-icons grey-text">edit</i></a></h2>
					<!-- <span style = "font-weight: bold;font-size: 6em; width: 40%;"><%- data.icon %></span> -->
					<img src = "{{APP_SERVICE_PATH}}/images/<%= data.icon %>.png" width="100" />
					<p id = "sub"><small><%= data.now %></small></p>

				</div>
			</div>
			<table class = "stripped">
				<tr><td>Temperatura</td><td> <%- data.temperature %></td></tr>
				<tr><td>Viento</td><td> Hacia el <%- data.windDirection %>, a <%- data.windSpeed %></td></tr>
				<tr><td>Precipitaciones</td><td> <%= data.precipitation %></td></tr>
				<tr><td>Humedad</td><td> <%- data.humidity %></td></tr>
				<tr><td>Presi&oacute;n</td><td> <%- data.pressure %></td></tr>
				<tr><td>Amanecer</td><td> <%= data.sunrise %></td></tr>
				<tr><td>Anochecer</td><td> <%= data.sunset %></td></tr>
				<tr><td>Nubosidad</td><td> <%= data.clouds %></td></tr>
				<tr><td>Actualizado</td><td> <%= data.lastUpdate %></td></tr>
			</table>

		</div>
	</div>
</div>
<div class = "row">
	<div class = "col l12 m12 s12">
		<h2>Pron&oacute;stico del clima</h2>
		<div id = "forecast">
            <% for(var i = 0; i < fcast.length; i++) { %>
                <div class = "row">
					<div class = "col l2 m4 s2">
						<!-- <span style = "font-weight: bold;font-size: 2em;"><%= fcast[i].icon %></span> -->
						<img src = "{{APP_SERVICE_PATH}}/images/<%= fcast[i].icon %>.png" width="40" />

					</div>
					<div class = "col l10 m10 s10">
						<%= formatTime(fcast[i].from.date) %> a <%= formatTime(fcast[i].to.date) %> <br/>
                        <%- fcast[i].temperature %> / <%= fcast[i].clouds %> /
                        <% if (fcast[i].precipitation != "no") { %>
                            <%= fcast[i].precipitation %><br/>
                        <% } else { %>
                                                              Sin lluvias
                        <% } %>
                    </div>
				</div>
            <% } %>
        </div>
	</div>
</div>

<div id = "modalProvinces" class = "modal">
	<div class = "modal-content collection">
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[0]}}});">Pinar del R&iacute;o</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[1]}}});">La Habana</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[2]}}});">Artemisa</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[3]}}});">Mayabeque</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[4]}}});">Matanzas</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[5]}}});">Villa Clara</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[6]}}});">Cienfuegos</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[7]}}});">Sancti Spir&iacute;tus</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[8]}}});">Ciego de &Aacute;vila</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[9]}}});">Camaguey</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[10]}}});">Las Tunas</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[11]}}});">Holgu&iacute;n</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[12]}}});">Granma</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[13]}}});">Santiago De Cuba</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[14]}}});">Guant&aacute;namo</a>
		<a href = "#!" class = "collection-item" onclick = "apretaste.send({command:'CLIMA',data:{query: {province: provinces[15]}}});">Isla de la Juventud</a>
	</div>
</div>