<!-- MAIN ICON -->

<div class="row home">
	<div class="col s12">
		<div class="col s12 center-align">
			<i class="main-icon fas fa-5x fa-<%= data.icon %>"></i>
			<div><b><%= data.city %></b></div>
			<span class="chip clear"><i class="far fa-calendar"></i> <%= moment().format('D [de] MMMM [del] YYYY') %></span>
		</div>
	</div>
</div>

<!-- DETAILS -->

<div class="row">
	<div class="col s12">
		<table class="stripped">
			<tr>
				<td>Temperatura</td>
				<td class="blue-grey-text"><%= data.temperature %></td>
			</tr>
			<tr>
				<td>Viento</td>
				<td class="blue-grey-text">Hacia el <%= data.windDirection %>, a <%= data.windSpeed %></td>
			</tr>
			<tr>
				<td>Precipitaciones</td>
				<td class="blue-grey-text"><%= data.precipitation %></td>
			</tr>
			<tr>
				<td>Humedad</td>
				<td class="blue-grey-text"><%= data.humidity %></td>
			</tr>
			<tr>
				<td>Presión</td>
				<td class="blue-grey-text"><%= data.pressure %></td>
			</tr>
			<tr>
				<td>Amanecer</td>
				<td class="blue-grey-text"><%= data.sunrise %></td>
			</tr>
			<tr>
				<td>Anochecer</td>
				<td class="blue-grey-text"><%= data.sunset %></td>
			</tr>
			<tr>
				<td>Nubosidad</td>
				<td class="blue-grey-text"><%= data.clouds %></td>
			</tr>
			<tr>
				<td>Actualizado</td>
				<td class="blue-grey-text"><%= data.lastUpdate %></td>
			</tr>
		</table>
	</div>
</div>

<!-- DAILY TIME -->

<div class="row">
	<div class="col s12">
		<ul class="collection one-line">
			<% fcast.forEach(function(item) { %>
				<li class="collection-item avatar">
					<i class="tiny circle fas fa-2x fa-<%= item.icon %>"></i>
					<span class="title">De <%= moment(item.from.date).format('h:mm a') %> a las <%= moment(item.to.date).format('h:mm a') %></span>
					<p class="blue-grey-text">
						<%= item.temperature %>, 
						<%= item.clouds %>, 
						<% if (item.precipitation != "no") { %>
							<%= item.precipitation %>
						<% } else { %>
							Sin lluvias
						<% } %>
					</p>
				</li>
			<% }) %>
		</ul>
	</div>
</div>
