<div class = "row">
	<div class = "col l12 m12 s12">
		<h1>El Clima Actual</h1>
		<p id = "sub"><small><%= data.now %></small></p>
		<div id = "content">
			<h2><%= data.city %></h2>
			<table class = "stripped">
				<tr><td>Temperatura</td><td> <%= data.temperature %></td></tr>
				<tr><td>Viento</td><td> Hacia el <%= data.windDirection %>, a <%= data.windSpeed %></td></tr>
				<tr><td>Precipitaciones</td><td> <%= data.precipitation %></td></tr>
				<tr><td>Humedad</td><td> <%= data.humidity %></td></tr>
				<tr><td>Presi&oacute;n</td><td> <%= data.pressure %></td></tr>
				<tr><td>Amanecer</td><td> <%= data.sunrise %></td></tr>
				<tr><td>Anochecer</td><td> <%= data.sunset %></td></tr>
				<tr><td>Nubosidad</td><td> <%= data.clouds %></td></tr>
				<tr><td>Actualizado</td><td> <%= data.lastUpdate %></td></tr>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class = "col l12 m12 s12">
		<h2>Pronostico del clima</h2>
		<div id = "forecast">
			<h2>Pronostico del clima</h2>
			<% for(var i = 0; i< fcast.length; i++) { %>
				<span style = "font-weight: bold;font-size: 2em;"><%= w.icon %></span><br/>
				<%= w.from %> a <%= w.to %><br/>
				<%= w.temperature %><br/>
				<%= w.clouds %><br/>
				<% if (w.precipitation != "no") { %>
					<%= w.precipitation %><br/>
				<% } else { %>
							  Sin lluvias
				<% } %>
			<% } %>
		</div>
	</div>
</div>