<div class = "row">
	<div class = "col l12 m12 s12">
		<h1>El Clima Actual</h1>
		<p id = "sub"><small><%= data.now %></small></p>
		<div id = "content">
			<h2><%= data.city %></h2>
				Temperatura: <%= data.temperature %><br/>
				Viento: Hacia el <%= data.windDirection %>, a <%= data.windSpeed %><br/>
				Precipitaciones: <%= data.precipitation %><br/>
				Humedad: <%= data.humidity %><br/>
				Presi&oacute;n: <%= data.pressure %><br/>
				Amanecer: <%= data.sunrise %><br/>
				Anochecer: <%= data.sunset %><br/>
				Nubosidad: <%= data.clouds %><br/>
				Actualizado: <%= data.lastUpdate %><br/>
			<%= data.icon %>
		</div>
	</div>
</div>