<div class="row home">
	<div class="col s12">
		<div class="col s12 center-align">
			<i class="main-icon fas fa-5x fa-<%= icon %>"></i>
			<div><b><%= title %></b></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<img src="{{APP_IMAGE_PATH}}<%= image %>"
			width="100%" alt="Foto de <%= title %>"
			onclick="showImage('{{APP_IMAGE_PATH}}<%= image %>')"
		/>
	</div>
</div>
